<aside class="main-sidebar">
    <section class="sidebar">
    <div class="user-panel">
        <div class="row" align="center">
            <div class="col-md-12">
                <img src="dist/img/user.png" width="40%" class="img-circle" alt="User Image">
                <p>Stephen Chao</p>
                <p style="margin-top: -5%"><b>Unique ID : IXIA1A105</b></p><br>
                <button class="btn btn-warning btn-sm" style="margin-top: -20%">Confirm Email</button>
                <button class="btn btn-warning btn-sm" style="margin-top: -20%">KYC Pending</button>
            </div>
        </div>
      </div>
        <hr>
      <ul class="sidebar-menu" data-widget="tree">
          <li><a href="index.php"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
          <li><a href="kycapp.php"><i class="fa fa-copy"></i> <span>KYC Application</span></a></li>
          <li><a href="contribution.php"><i class="fa fa-external-link"></i> <span>Buy Token</span></a></li>
          <li><a href="transaction.php"><i class="fa fa-random"></i> <span>Transaction</span></a></li>
          <li><a href="dshare.php"><i class="fa fa-file"></i> <span>D-Share</span></a></li>
          <li><a href="referral.php"><i class="fa fa-refresh"></i> <span>Referral</span></a></li>
          <li><a href="profile.php"><i class="fa fa-user"></i> <span>Profile</span></a></li>
<!--
         <li class="treeview">
            <a href="#"><i class="fa fa-link"></i> <span>Multilevel</span>
                  <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                  </span>
                </a>
            <ul class="treeview-menu">
              <li><a href="#">Link in level 2</a></li>
              <li><a href="#">Link in level 2</a></li>
            </ul>
          </li>
-->
          <li><a href="security.php"><i class="fa fa-lock"></i> <span>Security</span></a></li>
      </ul>
      
          <!-- /.sidebar -->
    </section>
</aside>