@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@charset "utf-8";
/* CSS Document */
html { font-size: 100% }
article, aside, details, figcaption, figure, footer, header, main, nav, section, summary, title { display: block }
body { font-family: 'Open Sans', sans-serif; font-weight: normal; font-style: normal; font-size: 16px; line-height: 15px; -webkit-font-smoothing: antialiased; margin: 0; padding: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background: #fff; }
dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin: 0; padding: 0 }
table { border-collapse: collapse; border-spacing: 0 }
fieldset, img { border: 0 }
ol, ul { list-style: none }
sub, sup { position: relative; font-size: 75%; line-height: 0; vertical-align: baseline }
sup { top: -0.5em }
sub { bottom: -0.25em }
* { outline: none !important; }
a:active, a:focus, a:hover, input[type="image"], select:focus, input, input[type="button"]:focus, :focus { outline: 0; text-decoration: none; }
.clearfix { *zoom:1
}
.clearfix:before, .clearfix:after { display: block; content: ""; line-height: 0 }
.clearfix:after { clear: both }
.clear { clear: both }
.btn { outline: 0px; }
.lists { list-style: none; margin: 0px; padding: 0px; }
.mainpage { position: relative; }
/* Button CSS */
.btn-warning { background: #0685d7; padding: 15px 35px; font-size: 20px; color: #fff; font-weight: 600; box-shadow: none; border: 0px; border-radius: 0px; transition: all 0.5s ease-in-out; }
.btn-warning:hover { background: #046eb3; color: #fff; }
.btn:active, .btn.active { box-shadow: none; }
.btn-primary { background: #0685d7; padding: 15px 35px; font-size: 20px; color: #fff; font-weight: 600; box-shadow: none; border: 0px; border-radius: 0px; transition: all 0.5s ease-in-out; }
.btn-primary:hover { background: #0665a2; color: #fff; }
/* Select menu */
.select-wrapper { float: left; display: inline-block; border: 1px solid #cccccc; background: rgba(255,255,255,.61); background: rgba(255,255,255,.61) url("../images/dropdown.png") no-repeat 97% center; cursor: pointer; width: 100%; height: 35px; }
.select-wrapper, .select-wrapper select { width: 100%; height: 35px; line-height: 35px; border-radius: 3px; }
.select-wrapper:hover { background: rgba(255,255,255,.61) url("../images/dropdown-hover.png") no-repeat 97%; border-color: #d5d4d6; }
.select-wrapper .holder { display: block; margin: 0 35px 0 5px; white-space: nowrap; overflow: hidden; cursor: pointer; position: relative; z-index: 0; font-size: 14px; color: #999999; height: 35px; padding-left: 5px; }
.select-wrapper select { margin: 0; position: absolute; z-index: 2; cursor: pointer; outline: none; opacity: 0; }
/* Header */
header { width: 100%; position: absolute; left: 0; right: 0; top: 15px; z-index: 999; }
header .navbar-right { margin: 5px 0 0; }
header .navbar-nav > li > a { color: #fff; font-weight: 16px; font-weight: 600; text-transform: uppercase; padding: 10px 0; margin: 0 15px; }
header .nav > li > a:hover, header .nav > li > a:focus { background: none; color: #3ccef3; }
header .nav > li > a.active { border-bottom: 3px solid #3ccef3; }
.navbar-brand { height: auto; padding: 5px 15px; }
/* Banner Css */
.banner { width: 100%; background: url(../images/bannerbg.jpg) center top no-repeat; background-size: cover; padding: 200px 0 40px; position: relative; }
.banner h1 { color: #fff; font-size: 28px; font-weight: 700; line-height: 32px; margin-bottom: 15px; }
.banner h2 { color: #fff; font-size: 26px; font-weight: 600; line-height: 32px; margin-bottom: 15px; }
.banner h3 { color: #fff; font-size: 26px; font-weight: 300; line-height: 32px; }
.timerwrap { width: 100%; max-width: 400px; background: #fff; margin: 30px auto 0; }
.price-box { padding: 20px 0; width: 100%; }
.price-box h4 { color: #1e3b55; font-size: 50px; font-weight: 700; line-height: 65px; margin-bottom: 12px; }
.price-box p { font-size: 24px; color: #5e5e5e; }
.timer-indent { background: #1e3b55; padding: 15px 0 5px; }
.timer-indent h4 { font-size: 22px; color: #fff; font-weight: 700; margin-bottom: 10px; }
.timer-indent ul { list-style: none; }
.timer-indent li { list-style: none; width: 25%; padding: 20px 0; float: left; font-weight: 700; color: #d0a74f; font-size: 35px; position: relative; text-align: center; }
.timer-indent li span { display: block; font-size: 12px; text-transform: uppercase; padding-top: 20px; color: #7e7e7e; }
.timer-indent li::after { content: ":"; font-size: 26px; position: absolute; right: 0px; top: 22px; ; font-weight: bold; }
.timer-indent li:last-child::after { display: none; }
#particles-js canvas { position: absolute; top: 0; left: 0; }
/* Buy & Sell Css */
.buysellwrap { width: 100%; background: #0b3d86; padding: 25px 0; }
.buysellwrap h2 { color: #fff; font-size: 28px; font-weight: 700; line-height: 22px; margin-bottom: 30px; text-transform: uppercase; }
.buysellwrap h3 { color: #fff; font-size: 22px; font-weight: 400; line-height: 22px; margin-bottom: 15px; }
.buysellwrap .progress { border-radius: 0px; height: 35px; line-height: 35px; }
.buysellwrap .progress-bar { font-size: 18px; line-height: 35px; }
.buysellwrap .progress-bar { background: #ee660c; }
.von-form { width: 100%; margin-bottom: 1px; background: #fff; }
.von-form h4 { font-size: 15px; color: #777777; margin-bottom: 5px; }
.von-left { width: calc(100% - 130px); float: left; padding: 10px 15px 0 15px; }
.von-left .form-control { border: 0px; box-shadow: none; font-size: 24px; font-weight: 600; padding: 0; line-height: 55px; }
.von-right { width: 130px; float: left; overflow: hidden; }
.von-right .btn-primary { width: 100%; padding: 30px 0; background: #2b4965; }
.von-right .btn-primary:hover { color: #fff; }
.buysellwrap .select-wrapper { background-color: #0685d7; line-height: 66px; height: 66px; position: relative; border: 0px; border-radius: 0px; }
.buysellwrap .select-wrapper .holder { color: #fff; height: 66px; font-size: 24px; }
.buysellwrap .select-wrapper, .buysellwrap .select-wrapper select { height: 66px; line-height: 65px; }
/* Initial coin offering Css */
.offercoinwrap { width: 100%; padding: 50px 0; background: #f4f4f4; }
.offercoinwrap h2 { color: #0685d7; font-size: 25px; font-weight: 700; margin-bottom: 10px; text-align: center; }
.offercoinwrap h3 { color: #0685d7; font-size: 42px; font-weight: 700; margin-bottom: 60px; text-align: center; }
.sale-heading { color: #0685d7; font-size: 38px; font-weight: 700; line-height: normal; }
.sale-price { color: #3ccef3; font-size: 20px; font-weight: 600; margin: 5px 0 10px; line-height: normal; }
.sale-date { color: #1e3b55; font-size: 20px; font-weight: 600; }
.coinoffer { margin: 50px 0; width: 100%; }
.offercoinwrap h4 { color: #5a5a5a; font-size: 30px; font-weight: 700; margin-bottom: 60px; text-align: center; }
.offercoinwrap .btn-primary { font-size: 16px; padding: 20px 45px; border-radius: 5px; }
.white-btn { background: #30bded; border: 0 none; border-radius: 5px; color: #fff; font-size: 16px; padding: 24px 50px; vertical-align: middle; font-weight: bold; margin-left: 10px; }
/* Voncoin Lending Platform */
.platformwrap { background: #0786d7; padding: 30px 0; width: 100%; }
.platformwrap .plat-indent { padding: 25px 0; text-align: center; }
.plat-indent h3 { font-size: 32px; color: #9cdafa; margin-bottom: 10px; }
.plat-indent p { font-size: 17px; color: #9cdafa; padding-bottom: 15px; }
.lendingwrap { padding: 50px 0 0; }
.lendingwrap h2 { color: #fff; font-size: 40px; font-weight: 600; margin-bottom: 25px; }
.lendingwrap p { font-size: 20px; color: #9cdafa; padding-bottom: 40px; }
.lendingwrap .btn-warning { background: none; border: 2px solid #fff; color: #fff; padding: 15px 100px; }
/* Roadmap Css */
.roadmapwrap { background: #f2f2f2; padding: 50px 0; }
.roadmapwrap h2 { color: #0685d7; font-size: 40px; font-weight: 700; margin-bottom: 25px; text-transform: uppercase; text-align: center; }
.road-logo { margin-bottom: 20px; }
.roadwrap { padding: 25px 0; }
/* Choose Vancoin */
.choosevancoinwrap { padding: 50px 0 30px; width: 100%; text-align: center }
.choosevancoinwrap h2 { font-size: 42px; color: #282828; margin-bottom: 20px; text-transform: uppercase; font-weight: 700; }
.choosevancoinwrap h3 { font-size: 26px; color: #0685d7; margin-bottom: 45px; font-weight: 300; }
.choosevancoinwrap h4 { color: #282828; font-size: 16px; font-weight: 600; margin-bottom: 15px; }
.choosevancoinwrap .box { padding: 20px 0 40px; }
.choosevancoinwrap p { font-size: 16px; color: #282828; margin-bottom: 15px; line-height: 26px; }
.choosevancoinwrap .why-icon { margin-bottom: 25px; }
/* Free Wallet */
.freewalletwrap { padding: 50px 0 30px; width: 100%; }
.freewalletwrap h2 { font-size: 42px; color: #282828; margin-bottom: 30px; text-transform: uppercase; font-weight: 700; }
.freewalletwrap p { font-size: 26px; color: #8a7f8a; margin-bottom: 45px; font-weight: 300; }
/* Technologies Css  */
.technologieswrap { width: 100%; background: #fcfcfc; padding: 50px 0; text-align: center; }
.technologieswrap h2 { font-size: 32px; color: #0583d6; margin-bottom: 60px; text-transform: uppercase; font-weight: 700; }
.technologieswrap li { display: inline-block; margin: 0 0 40px; width: 24%; }
/* ICO Pricing */
.ICOPricing { width: 100%; padding: 60px 0; width: 100%; }
.ICOPricing h2 { font-size: 32px; color: #0583d6; margin-bottom: 20px; font-weight: 700; text-align: center; }
.ICOPricing p { font-size: 17px; color: #666; text-align: center; line-height: 26px; padding-bottom: 45px; }
.icotxt { font-size: 15px; color: #7f8c8d; }
#ico-spendings { background-image: url(../images/ausgaben.svg); background-size: contain; background-repeat: no-repeat; background-position-x: 50%; height: 90%; margin: 0 auto; min-height: 300px; background-position-y: 50%; }
#tokendistri { background-image: url(../images/tokendistri.svg); background-size: contain; background-repeat: no-repeat; background-position-x: 50%; height: 90%; margin: 0 auto; min-height: 300px; background-position-y: 50%; }
/* Media Partners Css */
.MediaPartners { padding: 80px 0 120px; width: 100%; background: #0786d7; }
.MediaPartners h2 { font-size: 32px; color: #fff; margin-bottom: 60px; font-weight: 700; text-align: center; }
/* Footer */
footer { background: #111111; padding: 50px 0; }
footer h2 { font-size: 15px; color: #fff; position: relative; padding: 0 0 13px; margin-bottom: 15px; text-transform: uppercase; }
footer h2 i { width: 37px; height: 3px; background: #199ee0; position: absolute; left: 0; bottom: 0; }
footer h3 { font-size: 14px; color: #fff; padding: 0 0 10px; text-transform: uppercase; font-weight: 600; }
footer p { font-size: 14px; color: #fff; padding: 0 0 15px; line-height: 22px; }
footer li a { font-size: 14px; color: #fff; padding: 7px 0; line-height: 18px; text-transform: uppercase; display: inline-block; }
footer li a span { color: #199ee0; margin-right: 5px; width: 15px; display: inline-block; }
footer li a:hover { color: #199ee0; }
footer .newsletter { position: relative; }
footer .newsletter .form-control { width: 100%; box-shadow: none; font-size: 14px; color: #2b4965; border: 0px; height: 48px; }
footer .newsletter .btn-mail { position: absolute; width: 50px; height: 48px; position: absolute; right: 0; top: 0; text-align: center; background: #199ee0; color: #fff; border-radius: 0 5px 5px 0; }
footer .copyright { padding: 25px 0 0; border-top: 1px solid #1a1a1a; color: #fff; font-size: 14px; margin-top: 30px; }
/* Admin Theme Css */
.header { width: 100%; position: relative; }
.header .right-top-header ul { float: right; }
.header .right-top-header li { float: left; padding: 35px 25px; font-size: 16px; color: #111111; }
.header .right-top-header li:nth-child(2) { background: #b4b8bd; }
.header .right-top-header li:nth-child(3) { background: #d3d9dc; }
.admin-banner { background: #50a1ed; padding: 40px 0; position: relative; width: 100%; }
.exchange-btn { background: #0b3d86; padding: 24px 45px; font-size: 20px; color: #fff; margin-top: 75px; border: 0px; font-weight: 600; display: inline-block }
.exchange-btn:hover { color: #fff; }
.transfer-btn { background: #2064c8; padding: 24px 45px; font-size: 20px; color: #fff; margin-top: 75px; border: 0px; font-weight: 600; display: inline-block; float: right; }
.transfer-btn:hover { color: #fff; }
.profile-wrap { text-align: center; }
.profile-wrap h2 { color: #FFF; font-size: 26px; font-weight: 600; margin-bottom: 25px; }
.profile-wrap .profile-pic { width: 85px; height: 85px; margin: 0 auto 15px; }
.profile-wrap .profile-pic img { border-radius: 50%; }
.profile-wrap p { color: #fff; font-size: 20px; font-weight: 600; line-height: 32px; }
.coinwrap { margin: 30px 0 0; width: 100%; }
.coinb { color: #fff; background: #37b047; width: 95%; padding: 18px 15px 15px 70px; position: relative; border-radius: 5px; }
.voc-transfer { background: #2196f3; border-radius: 5px; height: 30px; left: -20px; position: absolute; text-align: center; top: 27px; width: 40px; color: #fff; padding: 7px 0 0; }
.ballvon { float: right; color: #fff; width: 95%; padding: 18px 15px 15px 70px; position: relative; background-color: #0473c5; background-image: -webkit-linear-gradient(bottom, #0473c5, #1082da); background-image: -moz-linear-gradient(bottom, #0473c5, #1082da); background-image: -o-linear-gradient(bottom, #0473c5, #1082da); background-image: -ms-linear-gradient(bottom, #0473c5, #1082da); background-image: linear-gradient(to top, #0473c5, #1082da); border-radius: 5px; }
.coinindent h3 { font-size: 28px; font-weight: 700; line-height: 22px; color: #fff; }
.coinindent p { font-size: 18px; margin-bottom: 8px; color: #fff; }
.coinindent span { position: absolute; top: 17px; left: 10px; border-radius: 50%; width: 50px; height: 50px; border: 2px solid #fff; text-align: center; padding: 10px 0 0; font-size: 25px; color: #fff; }
.balance-box { position: relative; }
.balance-box li { width: 48%; float: left; background-color: #0473c5; background-image: -webkit-linear-gradient(bottom, #f36e13, #fd9719); background-image: -moz-linear-gradient(bottom, #f36e13, #fd9719); background-image: -o-linear-gradient(bottom, #f36e13, #fd9719); background-image: -ms-linear-gradient(bottom, #f36e13, #fd9719); background-image: linear-gradient(to top, #f36e13, #fd9719); padding: 18px 15px 15px 70px; border-radius: 5px; position: relative; width: calc(50% - 15px); margin: 0 0 0 15px; }
.balance-box li.ethb { background-color: #0473c5; background-image: -webkit-linear-gradient(bottom, #487393, #5c85a1); background-image: -moz-linear-gradient(bottom, #487393, #5c85a1); background-image: -o-linear-gradient(bottom, #487393, #5c85a1); background-image: -ms-linear-gradient(bottom, #487393, #5c85a1); background-image: linear-gradient(to top, #487393, #5c85a1); }
.balance-box .voc-transfer { left: -28px; }
.admin-theme-container { padding: 50px 0; position: relative; width: 100%; }
.four-col-box { margin-bottom: 25px; width: 100%; }
.total-box { background: #50a1ed; padding: 20px 5px; width: 100%; text-align: center; margin-bottom: 10px; }
.total-box h3 { font-size: 26px; color: #fff; font-weight: 700; margin-bottom: 10px; }
.total-box p { color: #fff; font-size: 13px; font-weight: 600; text-transform: uppercase; }
.interestratewrap { width: 100%; margin-bottom: 40px; }
.interestratewrap h3 { color: #5c5c5c; font-size: 26px; font-weight: 700; text-transform: uppercase; margin-bottom: 15px; }
.interestratewrap ul { display: table; width: 100%; }
.interestratewrap li { display: table-cell; width: 25%; border-bottom: 1px solid #eba809; padding: 15px 0; line-height: 28px; }
.interestratewrap li i { margin-right: 5px; }
.sidebar { background: #fff; }
.sidebar h3 { background: #92037d; color: #fff; font-size: 18px; font-weight: 500; padding: 15px; }
.sidebar ul li a { display: block; padding: 17px 0; transition: all 0.5s ease 0s; color: #4e535b; font-weight: 600; font-size: 17px; transition: all 0.5s ease-in-out; }
.sidebar ul li a:hover { background: #50a1ed; padding: 17px 8px 17px 10px; color: #fff; }
.summarywrap { margin-bottom: 25px; width: 100%; }
.summary-top { margin-bottom: 20px; }
.summary-top h3 { font-size: 24px; color: #565050; font-weight: 600; }
.summary-indent { background: #50a1ed; padding: 5px 0; width: 100%; }
.total-summary li { width: 25%; float: left; font-size: 18px; color: #565050; font-weight: 600; }
.total-summary li:nth-child(2) { width: 37.5%; }
.total-summary li:nth-child(3) { width: 37.5%; }
.summary-box-wrap { padding: 10px 0; }
.summary-box-wrap li { background: #ffffff; width: calc(50% - 14px); margin: 7px 7px; float: left; padding: 10px; }
.summary-box-wrap li h4 { font-size: 16px; color: #3b3b3b; font-weight: 600; margin-bottom: 5px; }
.summary-box-wrap li p { font-size: 14px; color: #3b3b3b; font-weight: 600; line-height: 24px; }
.total-summary-indent li { width: 25%; float: left; font-size: 17px; color: #fff; font-weight: 600; padding: 15px 0; }
.total-summary-indent li:nth-child(2) { width: 37.5%; }
.total-summary-indent li:nth-child(3) { width: 37.5%; }
